<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Child Song</title>
</head>
<body>
    <head>
    <h3>
      Child Song
    </h3>
    </head>
    
    <secion>
      <div>
        <audio src="/i/horse.ogg" controls="controls">
            Your browser does not support the audio element.
        </audio>
      </div>
    </secion>
    
</body>
</html>