    <head>
    <h3>
      Child Song
    </h3>
    </head>
    
    <secion>
      <div>
        <audio src="/i/horse.ogg" controls="controls">
            Your browser does not support the audio element.
        </audio>
      </div>
    </secion>